{% extends 'blog/menu.html' %}
{% load humanize %}

{% block content %}
{% load static %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if post.file_upload %}
            <div class="col-md-6"><a href="{{post.product_link}}"><img class="card-img-top mb-5 mb-md-0" src="{{post.file_upload.url}}" alt="..." /></a></div>
            {% else %}
            <div class="col-md-6"><a href="{{post.product_link}}"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></a></div>
            {% endif %}
            <div class="col-md-6">
                <div class="small mb-1">{{post.category}}</div>
                <h1 class="display-5 fw-bolder"><a href="{{post.product_link}}" style="color: black; text-decoration: none;">{{post.product_name}}</a></h1>
                <div class="fs-5 mb-3">
                    <span>{{ post.product_price|intcomma }}₩</span>
                </div>
                <div class="small mb-1"><i class="bi bi-eye"></i> {{post.views}}</div>
                <div class="small mb-1">{{post.user}}</div>
                <div class="small mb-4">{{post.product_mall}}</div>
                <p class="lead">{{post.title}}</p>
                <p class="lead">{{post.content}}</p>
                <div class="d-flex mb-3">
                    <button onclick="location.href='{% url 'blog:hits_post' post.pk%}'" class="btn btn-outline-dark flex-shrink-0 m-1" type="button">
                        <i class="bi-hand-thumbs-up-fill me-1"></i>
                        {{post.hits}}
                    </button>
                    <button onclick="location.href='{% url 'blog:unhits_post' post.pk%}'" class="btn btn-outline-dark flex-shrink-0 m-1" type="button">
                        <i class="bi-hand-thumbs-down-fill me-1"></i>
                        {{post.unhits}}
                    </button>
                </div>
                {% if user == post.user %}
                <button onclick="location.href='{% url 'blog:edit_post' post.pk %}'" class="btn btn-outline-dark flex-shrink-0 m-1">
                <i class="bi bi-pencil-square"></i>
                </button>
                <button onclick="location.href='{% url 'blog:delete_post' post.pk %}'" class="btn btn-outline-dark flex-shrink-0 m-1">
                <i class="bi bi-trash"></i>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="py-5 mx-3">
    <div class="container px-4 px-lg-5">
        <h3>Comment</h3>
        {% for comment in post.comment_set.all %}
            {% if not comment.parent_comment %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">{{comment.user.nickname}}</p>
                        <p class="card-text">{{comment.content}}</p>
                        <div class="d-flex align-items-center mb-2">
                            <button onclick="location.href='{% url 'blog:hits_comment' comment.pk%}'" class="btn btn-outline-dark btn-sm me-1">
                                <i class="bi-hand-thumbs-up-fill me-1"></i>
                                {{comment.hits}}
                            </button>
                            <button onclick="location.href='{% url 'blog:unhits_comment' comment.pk%}'" class="btn btn-outline-dark btn-sm me-1">
                                <i class="bi-hand-thumbs-down-fill me-1"></i>
                                {{comment.unhits}}
                            </button>
                        </div>
                        {% if user == comment.user %}
                        <a href="{% url 'blog:edit_comment' comment.pk %}" class="btn btn-outline-dark btn-sm me-1">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {% endif %}
                        <a href="{% url 'blog:create_reply' comment.pk %}" class="btn btn-outline-dark btn-sm me-1">
                            <i class="bi bi-chat-square-text"></i>
                        </a>
                        <ul class="list-group">
                            {% for reply in comment.replies.all %}
                                <li class="list-group-item m-2">
                                    <p class="card-text">{{reply.user.nickname}}</p>
                                    <p class="card-text">{{reply.content}}</p>
                                    <div class="d-flex align-items-center mb-2">
                                        <button onclick="location.href='{% url 'blog:hits_comment' reply.pk%}'" class="btn btn-outline-dark btn-sm me-1">
                                            <i class="bi-hand-thumbs-up-fill me-1"></i>
                                            {{reply.hits}}
                                        </button>
                                        <button onclick="location.href='{% url 'blog:unhits_comment' reply.pk%}'" class="btn btn-outline-dark btn-sm me-1">
                                            <i class="bi-hand-thumbs-down-fill me-1"></i>
                                            {{reply.unhits}}
                                        </button>
                                    </div>
                                    {% if user == reply.user %}
                                    <a href="{% url 'blog:edit_comment' reply.pk %}" class="btn btn-outline-dark btn-sm me-1">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'blog:create_reply' reply.pk %}" class="btn btn-outline-dark btn-sm me-1">
                                        <i class="bi bi-chat-square-text"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% if user.is_authenticated %}
<section class="py-5 mx-3">
    <div class="container px-4 px-lg-5">
        <h3>Add Comment</h3>
        <form action="{% url 'blog:create_comment' post.pk %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="commentContent" class="form-label">댓글 내용</label>
                <textarea class="form-control" id="commentContent" name="content" rows="3" style="resize: none;"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">작성</button>
        </form>
    </div>
</section>
{% endif %}

{% endblock %}