{% extends 'blog/menu.html' %}
{% load humanize %}

{% block content %}
{% load static %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    {% if request.GET.category %}
                    <h1 class="display-4 fw-bolder">{{ request.GET.category }}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">핫딜 {{ request.GET.category }} 카테고리 입니다.</p>
                    {% else %}
                    <h1 class="display-4 fw-bolder">All Products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">핫딜 모든 상품 입니다.</p>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-6">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="제목, 내용, 댓글, 작성자" aria-label="Search" name="q" value="{{ request.GET.q }}">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                    {% for post in post_list%}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if post.thumb_image %}
                            <img class="card-img-top" src="{{ post.thumb_image.url }}" alt="..."/>
                            {% else %}
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ post.product_name }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% if post.hits >= 25 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        {% elif post.hits >= 20 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                        {% elif post.hits >= 15 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        {% elif post.hits >= 10 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        {% elif post.hits >= 5 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        {% else %}
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        <div class="bi-star"></div>
                                        {% endif %}
                                        <p class="m-0">({{post.hits}})</p>
                                    </div>
                                    <!-- Product price-->
                                    {{ post.product_price|intcomma }}₩
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'blog:post_detail' post.pk %}">Detail</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}


                </div>
            </div>
        </section>
{% endblock%}