{% extends 'blog/menu.html' %}

{% block content %}
{% load static %}
<section class="py-5 mx-3">
    <div class="container px-4 px-lg-5">
        <div class="card">
            <div class="card-body m-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_p }}
                    </table>
                    <input class="btn btn-outline-dark" type="submit" value="확인">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}